html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.sky {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#579ddf -20%, #94ddff 30%, #d8f2ff);
}

.title {
    position: absolute;
    top: 5vh;
    right: 6vh;
    width: 65vh;
    height: 25vh;
    background: url(./title.svg) no-repeat;
    background-size: contain;
}

.sea {
    position: absolute;
    top: 50vh;
    width: 100vw;
    height: 50vh;
}

.sea .waves {
    position: absolute;
    left: 0;
    width: 130vw;
    height: 40vh;
}

.sea .waves::before {
    position: absolute;
    top: 0;
    width: 100%;
    content: "";
}

.sea .waves::after {
    position: absolute;
    width: 100%;
    height: 45vh;
    content: "";
}

.sea .waves.far {
    top: 0;
    animation: waves-far-translateX 5s infinite linear, waves-far-translateY 3s infinite ease-in-out alternate;
}

.sea .waves.far::before {
    height: 3vh;
    background: url(./wave-far.svg) repeat-x;
    background-size: 5vh 3vh;
}

.sea .waves.far::after {
    top: 3vh;
    background: #1d7fc0;
}

@keyframes waves-far-translateX {
    100% {
        left: -5vh;
    }
}

@keyframes waves-far-translateY {
    100% {
        transform: translateY(1.2vh);
    }
}

.boat {
    position: absolute;
    top: -11vh;
    left: 5vw;
    width: 75vh;
    height: 30vh;
    background: url(./boat.svg) no-repeat;
    background-size: contain;
    animation: boat-heave 2.8s infinite ease-in-out alternate, boat-pitch 5.6s 1.0s infinite ease-in-out;
    transform: rotate(1deg);
}

@keyframes boat-pitch {
    0% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

@keyframes boat-heave {
    100% {
        top: -14vh;
    }
}

.sea .waves.mid {
    top: 8vh;
    animation: waves-mid-translateX 3s infinite linear, waves-mid-translateY 2.8s infinite ease-in-out alternate;
}

.sea .waves.mid::before {
    height: 5vh;
    background: url(./wave-mid.svg) repeat-x;
    background-size: 7vh 5vh;
}

.sea .waves.mid::after {
    top: 5vh;
    background: #2c94da;
}

@keyframes waves-mid-translateX {
    100% {
        left: -7vh;
    }
}

@keyframes waves-mid-translateY {
    100% {
        transform: translateY(-2vh);
    }
}

.sea .waves.near {
    top: 22vh;
    animation: waves-near-translateX 3s infinite linear, waves-near-translateY 2.6s infinite ease-in-out alternate;
}

.sea .waves.near::before {
    height: 10vh;
    background: url(./wave-near.svg) repeat-x;
    background-size: 14vh 10vh;
}

.sea .waves.near::after {
    top: 10vh;
    background: #43a1e0;
}

@keyframes waves-near-translateX {
    100% {
        left: -14vh;
    }
}

@keyframes waves-near-translateY {
    100% {
        transform: translateY(-5vh);
    }
}